<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
<a href="/projet/create/"> acheter un billet</a>
    <ol>
        {% for l in liste %}
            <li>
                {{l}}
                <a href="/projet/read/{{l.id}}/"> affiche </a>
                <a href="/projet/update/{{l.id}}/"> mise à jour </a>
                <a href="/projet/delete/{{l.id}}/"> supprimer </a>
            </li>
        {% endfor %}
    </ol>

<a href="/projet/parc/createparc/"> Ajouter un Parc au site </a>
     <ol>
        {% for l in liste2 %}
            <li>
                {{l}}
                <a href="parc/readparc/{{l.id}}/"> affiche </a>
                <a href="parc/updateparc/{{l.id}}/"> mise à jour </a>
                <a href="parc/deleteparc/{{l.id}}/"> supprimer </a>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
